/* UNIVERSAL IMAGES */
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: 0;
  padding-top: 0;
}

.nav li {
  opacity: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    z-index:1000;
}

.button-container {
  display: flex;
  justify-content: center;
}

a.dc-button {
  display: block;
  padding: 0.9em;
  font-size: 1.3em;
  text-align: center;
  background-color: rgb(242, 191, 107);
  color: white;
  text-decoration: none;
  margin: 1em;
}

a.dc-button:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  cursor: pointer;
}

/*FULL PAGE IMAGE
*/

.commercials-background {
  background-image: url('../images/waterfront.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  margin-bottom: 4em;
}

.venue-info-area {
  height: 100vh;
  background-color: white;
}

.container-fluid {
  padding: 0;
}



.jumbo-top {
  height: 79vh;
}

.hours-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.hours-circle {
  width: 30em;
  height: 30em;
  background-color: white;
  border-radius: 50em;
  border: 30px double #f2bf6b;
  flex-direction: column;
  margin-right: 8em;
}

.hours-circle h1 {
  font-size: 36px;
}

.hours-circle h3 {
  margin-top: 0;
}

.hours-circle p {
  margin: 0;
  font-size: 1em;
  padding: 0.2;
  text-align: left;
}



.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}



.filler {
  height: 100em;
}



.side-menu {
  color: white;
  background-color:rgb(242, 191, 107);
  padding: 0.8em;
  margin: 2em 0em 1em 0;
}

.side-menu {
  font-size: 1.3em;
}

.container-center {
  display: flex;
  justify-content: center;
}



.commercial-lead {
  font-size: 16px;
}


/* SLIDER CSS */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin-bottom: 2em;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  overflow: hidden;
  }


  /* SHACK TEMPLATE */
  .shack-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width:100%;
  flex-direction: column;
}

.shack-logo img {
  width: 32em;
  margin-top: 2em;
}

.colour-top, .colour-bottom {
  height: 12em;
  width: 100%;
  background-color: rgb(242, 191, 107);
  position: absolute;
    -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  transform: skewY(-10deg);
  overflow: none;
}


.colour-top {
  top: 0;
  position: absolute;
  left: -999em;
   animation: slideRight 2s;
  -webkit-animation: slideRight 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@keyframes slideRight
    {
      0%   {left: -999em;}

      100%   {left: 0;}
    }



.colour-bottom {
  bottom: 0;
    position: absolute;
  right: -999em;
     animation: slideLeft 2s;
  -webkit-animation: slideLeft 2s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes slideLeft
    {
      0%   {right: -999em;}

      100%   {right: 0;}
    }

.angled-container {
        -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  transform: skewY(-10deg);

}



.social-strip {
  font-size:4em;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-animation: fadeIn 5s;
             animation: fadeIn 5s;
}

.social-strip i {
  margin: 0.5em;
}

.social-strip a{
    color: rgb(242, 191, 107);
  text-decoration: none;
   animation: colorchangereverse 15s;
  -webkit-animation: colorchangereverse 15s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}


@keyframes fadeIn
    {
      0%   {opacity: 0;}
      25%   {opacity: 0;}
      50%  {opacity: 0.5;}
      75%  {opacity: 0.75;}
      100%   {opacity: 1;}
    }




.event-scroll, .venue-gallery {
height: 30em;
margin-top: 1em;
}

.event-scroll {
  background-color: white;
  margin-right: 1em;
  border: 10px solid rgb(242, 191, 107);
}

.venue-gallery {
  background-image: url(../images/coffee.jpeg);
  background-size: cover;
  max-width: 65%;
}


/* BUTTON DROP-DOWNS */


.venue-dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6em;
  margin: 1em 0;
  background-color: #eee;
}


.main-title {
  width: 7em;
  text-align: center;
  font-size: 1.8em;
  color: white;
  background-color: rgb(242, 191, 107);
  padding: 0 0.6em;
  height: 100%;
}

.main-title:hover {
  cursor: pointer;
  -webkit-filter: brightness(110%);
    filter: brightness(110%);
}





.content-strip {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1em 0;
  background-color: #eee;

}



.content-image, .content-description {
  min-width: 45%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  min-height: 13em;
}

.content-image {
  height: auto;
  margin: 15px;
  min-width: 45%;
  background-color: teal;
  background-size: cover;
  background-position: center;

}

.content-image img {
  width: 100%;
  display: block;
  overflow: hidden;
}

#coffee-image {
  background-image: url('https://www.kclsu.org/pageassets/testshed/coffee/coffeecroissant.jpg');
}

#baguette-image {
  background-image: url('https://www.kclsu.org/pageassets/testshed/food/baguette_foodweb.jpg');
}

#wrap-image {
  background-image: url('https://www.kclsu.org/pageassets/testshed/food/baguettes/puresimple_web(1).jpg');
}

#panini-image {
  background-image: url('https://www.kclsu.org/pageassets/testshed/food/baguettes/panini_foodweb.jpg');
}

#salad-image {
  background-image: url('https://www.kclsu.org/pageassets/testshed/food/salad_foodweb.jpg');
}


.content-description {
 background-color: white;
 border: 15px solid #eee;
}

.content-description h3 {
  text-align: center;
}



.content-description p {
  padding: 1.2em;
  margin: 0;
}




/*MEDIA QUERIES */

@media only screen and (min-width: 2000px){
 .shack-logo img {
    width: 45em;
  }
}

@media only screen and (max-width: 780px ){
  .content-strip {
    flex-direction: column;

  }

}

@media only screen and (max-width: 550px ){
  .venue {
    flex-direction: column;

  }

  .content-image {
    height: 12em;
  }

  .main-title {
    font-size: 1.5em;
    width: 9em;
  }

}




@media only screen and (max-width: 480px){
  .shack-logo img {
  width: 22em;
}

.colour-top, .colour-bottom{
  height: 7em;
}
.social-strip {
font-size: 3em;
}

  .hours-circle {
    width: 23em;
    height:23em;
    margin: 0;
  }

  .hours-container {
    justify-content: center;
  }
}



@media only screen and (max-width: 330px){
   .shack-logo img {
    width: 14em;
  }
    #countDownVault {
      font-size: 0.34em;
  }
}
